/* Global styling for the application */


.navbar {
    background-image: url('../background/logo.png'); 
    background-size: 250px ; 
    background-position: left center;
    background-repeat: no-repeat; 
}

.navbar-brand{
    color: rgba(0, 0, 0, 0); 
}

.navbar-brand:hover{
    color: rgba(0, 0, 0, 0);
}


 body {
    /* background-color: #f8f9fa ; Light gray background */
    background-image: url('../background/bg.jpg');
    font-family: 'Arial', sans-serif;
        height: 100%; /* Ensure that the body takes the full height */
        margin: 0; /* Remove default margin */
        display: flex;
        flex-direction: column;
}

.wrapper {
flex: 1;
display: flex;
flex-direction: column;
}

.row {
    height: 100vh; /* Full viewport height */
}
.col-md-6 {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.container {
    max-width: 1000px;
    margin-top: 25px;
    margin-bottom: 25px;
    padding-bottom: 25px;
    background: #f8f9faef;
    box-shadow: 0 0px 8px rgba(36, 22, 22, 0.411);
    border-radius: 10px;
    animation: appear 1s ease-out;
}

.parent-container {
    display: flex;
    flex-direction: column;
    justify-content: stretch; /* Ensure it stretches fully */
    flex-grow: 1; /* Take up remaining space */
    margin: 0; /* Remove margins if necessary */
    padding: 0;    
}

.zodiac-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Adjust inner content layout */
    flex-grow: 1; /* Ensure it stretches to fill available space */
    padding: 20px;
    text-align: center;
    background: #f8f9fa;
    box-shadow: 0 0px 8px rgba(36, 22, 22, 0.411);
    border-radius: 10px;
    height: 100%; /* Ensure full height */
    min-height: 100%; /* Prevent shrinkage */
    /* Apply animation properties */
    animation: appear 1s ease-out; /* Define animation name, duration, and timing */
}

@keyframes appear {
    from {
        opacity: 0;
        transform: scale(0.5); /* Corrected scale */
    }
    to {
        opacity: 1;
        transform: scale(1); /* Corrected scale */
    }
}


.zodiac-details img {
    align-self: center;      
    max-width: 200px;        
    height: auto;           
    margin-bottom: 20px; 
    padding: 10px;
    border-color: #343a40;
}

.zodiac-details p {

    margin-bottom: 10px;    
    text-align: left; 
}


.custom-container {
    max-width: 800px;
    margin-top: 0px;
    padding: 20px;
    border-radius: 10px;
}

.text-container {
    max-width: 70%; /* Adjust as needed */
    word-wrap: break-word;
    white-space: normal;
    overflow: hidden;
}

.button-container {
    display: flex;
    gap: 0.5rem;
}

.list-group-item {
    display: flex;
    align-items: center;
}


h1, h2, p{
    color: #403434;
    font-family: cursive;
}

/*Button*/
.btn-primary, btn-primary:active {
    margin-right: 10px;
    background-color: #403434;
    border: #403434;
}

.btn-primary:hover {
    background-color: rgb(99, 98, 98);
}

.btn-primary:active {
    background-color: #403434;
    border: #403434;
}


.btn-danger {
    margin-right: 10px;
    background-color: #0c1824;
    border: #0c1824;
}

.btn-warning {
    margin-right: 10px;
    background-color: #f2e0a9;
    border: #f2e0a9;
}

footer {
    margin-top: 20px;
    text-align: center;
    padding: 10px;
    background: #343a40;
    color: #fff;
}

.alert {
    margin-top: 15px;
}
